{% extends 'school_letters/s_base.html' %}
{% block title %}おたより閲覧・変更 - FamilyNote{% endblock %}
{% block content %}
<div class="title-header">
  <h2>おたより閲覧・変更</h2>
  <h4>～園や学校のおたよりを変更してください～</h4>
</div>
<div class="edit-container">
  <div class="letter-image">
    {% if form.instance.image and form.instance.image.name %}
      <img src="{{ form.instance.image.url }}" alt="おたより画像">
    {% else %}
      <p>画像がありません</p>
    {% endif %}
  </div>
  
  <div class="letter-form">
    <form method="POST" enctype="multipart/form-data" class="otayori">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button type="submit">変更完了</button>
    </form>
  </div>
</div>

{% endblock %}