 /* 全体のスタイル */
 body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

/* ヘッダーのスタイル */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #add9f6;
    color: gray;
    width: 100%;
    padding: 10px 30px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
header h1 {
    margin: 0;
    font-size: 1.8em;
    flex: 1;
}

/* ナビゲーションバーのスタイル */
.custom-navbar {
    background-color: #add9f6;
    padding: 10px 30px;
    margin-left: auto;
    text-align: center;
}
/* ナビゲーションリンクのスタイル */
.custom-navbar a {
    color: gray;
    padding: 0 10px;
    font-size: 1em;
    text-decoration: none;
}
.custom-navbar a:hover {
    text-decoration: underline !important;
}

/* ドロップダウンメニューのスタイル */
.custom-navbar li {
    display: inline-block;
    position: relative;
}
.custom-navbar .dropdown .dropbtn {
    color: gray;
    padding: 10px 15px;
    font-size: 1em;
    text-decoration: none;
    background-color: #add9f6;
    border: none;
    cursor: pointer;
}
.custom-navbar .dropdown:hover .dropdown-content {
    display: block;
}
.custom-navbar .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #add9f6;
    min-width: 160px;
    z-index: 1;
}
.custom-navbar .dropdown .dropdown-content a {
    color: gray;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.custom-navbar .dropdown .dropdown-content a:hover {
    background-color: #a4c8e0;
    text-decoration: underline;
}
/* ログアウトボタン */
.logout-form {
    display: inline;
}
.logout-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 15px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    
}
.logout-btn:hover {
    background-color: rgb(5, 5, 106);
}

main {
    margin-top: 40px;
    padding: 20px;
}

/* 家族参加htmlのスタイル */
.join-box {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}
.join-box h2 {
    margin-bottom: 20px !important;
}
  
.join-box form {
    margin-bottom: 20px !important;
}
button.join-button {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 10px auto;
}
button.join-button:hover {
    background-color: #0056b3;
}
.join-box a {
    color: #007bff !important;
    text-decoration: none !important;
}
  
.join-box a:hover {
    text-decoration: underline !important;
}

/* 家族参加エラーhtmlのスタイル */
div.joinerror-box {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}
div.joinerror-box h2 {
    margin-bottom: 20px !important;
}
div.joinerror-box a {
    color: #007bff !important;
    text-decoration: none !important;
}
div.joinerror-box a:hover {
    text-decoration: underline !important;
}

/* 家族招待URL発行htmlのスタイル */
div.invite-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}
button.invite-button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}
button.invite-button:hover {
    background-color: #0056b3;
}
input#invite_url {
    width: 100%;
    font-size: 1em;
}

/* 家族キャンセル確認htmlのスタイル */
div.leave-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}
div.leave-box button {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.leave-box button:hover {
    background-color: rgb(132, 27, 27);
    color: #ffffff;
}


a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}