<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>FamilyNote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h2>～FamilyNote～</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'tasks:task_list' %}">ホーム</a>
            <a class="navbar-brand" href="{% url 'tasks:task_list' %}">タスク一覧</a>
            <a class="navbar-brand" href="{% url 'tasks:task_list' %}">タスク登録</a>
            <a class="navbar-brand" href="{% url 'tasks:task_list' %}">おたより一覧</a>
            <a class="navbar-brand" href="{% url 'tasks:task_list' %}">おたより登録</a>
            <a class="navbar-brand" href="{% url 'tasks:task_list' %}">マイページ</a>
            <a class="navbar-brand" href="{% url 'accounts:logout' %}">ログアウト</a>
        </nav>
    </header>
    <h5>今日もお疲れさまです。</h5>
    {% block content %} 
    {% endblock %}
</body>
</html>