<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン - FamilyNote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/login_register.css' %}">
</head>
<body>
    <header>
        <h1>～FamilyNote～</h1>
    </header>
    <main>
        <h1>ログインページ</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">ログイン</button>
            <a href="{% url 'accounts:register' %}?next={{ request.GET.next }}">新規アカウント登録</a>
        </form>
    </main>
</body>
</html>