{% extends 'accounts/a_base.html' %}
{% load static %}
{% block title %}アカウント情報変更 - FamilyNote{% endblock %}
{% block content %}
<h2 class="update">～アカウント情報を変更してください～</h2>

{% if view_name == "UserUpdateView" %}
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
     </div>
  {% endif %}
{% endif %}

<div class="form-container">
  <form method="post" enctype="multipart/form-data" class="namechange">
    {% csrf_token %}
    <p>{{ form.full_name.label_tag }} {{ form.full_name }}</p>
    <p>{{ form.nickname.label_tag }} {{ form.nickname }}</p>
    <p>{{ form.email.label_tag }} {{ form.email }}</p>

    <p>
      {{ form.image.label_tag }}
      {{ form.image }}
      {% if form.image.value %}
        <label for="{{ form.image.clear_checkbox_id }}">
          {{ form.image.clear_checkbox_tag }} クリア
        </label>
      {% endif %}
    </p>

    <button type="submit">変更</button>
  </form>
</div>
  {% comment %} <a class="password" href="{% url 'accounts:password_change' %}">パスワード変更</a> {% endcomment %}
{% endblock %}

{% block extra_js %}
  <script src="{% static 'accounts/js/modal.js' %}"></script>
{% endblock %}

