{% extends 'base.html' %}
{% block title %}マイページ - FamilyNote{% endblock %}
{% block content %}
<h3>マイページ</h3>
<h4>プロフィール画像</h4>
  {% if user.profile_image %}
    <img src="{{ user.profile_image.url }}" alt="プロフィール画像">
  {% else %}
    <p>プロフィール画像が設定されていません。</p>
  {% endif %}
<p>ユーザー名: {{ user.username }}</p>
<p>ニックネーム: {{ user.nickname }}</p>
<p>家族グループ: {{ user.family.name|default:"未所属" }}</p>

{% if user.family %}
    <p>現在の家族: {{ user.family.name }}</p>
    <form method="post" action="{% url 'leave_family' %}">
        {% csrf_token %}
        <button type="submit">家族を抜ける</button>
    </form>
{% endif %}

{% if user.family %}
    <a href="{% url 'invite_family' %}">家族を招待する</a>
{% else %}
    <a href="{% url 'create_family' %}">家族を作成する</a>
{% endif %}

{% endblock %}