<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyNote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <header>
        <h2>～FamilyNote～</h2>
        <nav>
            <a href="{% url 'accounts:login' %}">ログイン</a>
        </nav>
    </header>
    <main>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">登録</button>
        </form>
    </main>
</body>
</html>