<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録 - FamilyNote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}?v=1.1">
</head>
<body>
    <header>
        <h1>～FamilyNote～</h1>
        <a class='login-link' href="{% url 'accounts:login' %}">ログイン</a>
    </header>
    <main>
        <h1>新規アカウント登録</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">登録</button>
        </form>
    </main>
</body>
</html>