{% extends 'tasks/t_base.html' %}
{% block title %}Note登録 - FamilyNote{% endblock %}
{% block content %}
<h2>～タスク・ログ・スケジュールを登録してください～</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-check">
        <label class="form-check-label" for="id_is_favorite">お気に入り登録</label>
        <input type="checkbox" class="form-check-input" id="id_is_favorite" name="is_favorite">
    </div>
    <button type="submit">登録</button>
</form>
{% endblock %}