{% extends 'base.html' %}
{% block title %}Note一覧 - FamilyNote{% endblock %}
{% block content %}
<h3>Note～家の記録～</h3>
<table>
    <thead>
      <tr>
        <th>カテゴリ</th>
        <th>日付</th>
        <th>時間</th>
        <th>タイトル</th>
        <th>メモ</th>
        <th>画像</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.get_category_display }}</td>
            <td>{{ task.formatted_due_date }}</td>
            <td>{{ task.start_time }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.memo }}</td>
            <td>
              {% if task.image %}
                <img src="{{ task.image.url }}" alt="Task image" width="100">
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              <a href="{% url 'tasks:task_edit' task.pk %}">編集</a>  <!-- 追加: 編集ボタン -->
            </td>
            {% for task in tasks %}
                <li>
                    {{ task.title }}  
                    <a href="{% url 'tasks:task_copy' task.id %}">📄コピー</a>
                </li>
            {% endfor %}
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">タスクがありません。</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <!-- ページネーション -->
    <div>
      {% if tasks.has_previous %}
        <a href="?page=1">&laquo; 最初</a>
        <a href="?page={{ tasks.previous_page_number }}">前へ</a>
      {% endif %}
      <span>ページ {{ tasks.number }} / {{ tasks.paginator.num_pages }}</span>
      {% if tasks.has_next %}
        <a href="?page={{ tasks.next_page_number }}">次へ</a>
        <a href="?page={{ tasks.paginator.num_pages }}">最後 &raquo;</a>
      {% endif %}
    </div>
{% endblock %}