{% extends 'tasks/t_base.html' %}
{% block title %}Note変更 - FamilyNote{% endblock %}
{% block content %}
<div class="title-header">
  <h2>Note変更</h2>
  <h4>～家事やスケジュールなどを変更してください～</h4>
</div>
<form method="post" enctype="multipart/form-data" class="notesakusei">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="checkbox-wrapper">
    <label for="show_on_home">
      <input type="checkbox" id="show_on_home" name="show_on_home"
        {% if form.instance.show_on_home %}checked{% endif %}>
      ToDoリストに表示
    </label>
  
    <label for="is_favorite">
      <input type="checkbox" id="is_favorite" name="is_favorite"
        {% if form.instance.is_favorite %}checked{% endif %}>
      お気に入りに登録
    </label>
  </div>
  <button type="submit">変更</button>
</form>
{% endblock %}