{% extends 'tasks/t_base.html' %}
{% block title %}Note登録 - FamilyNote{% endblock %}
{% block content %}
<h2>～タスク・ログ・スケジュールを登録してください～</h2>
<form method="post" enctype="multipart/form-data" class="notesakusei">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="checkbox-wrapper">
    <label for="show_on_home">
      <input type="checkbox" id="show_on_home" name="show_on_home" checked>
      ToDoリストに表示する
    </label>
  
    <label for="is_favorite">
      <input type="checkbox" id="is_favorite" name="is_favorite">
      お気に入りに登録
    </label>
  </div>
  <button type="submit">登録</button>
</form>
{% endblock %}